main {
    padding: 30px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
.section-about {
    background-color: var(--btn-back-border);
    padding: 22px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    align-items: center;
}