{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}

<section class="section-about">

  <h2>Olá! Eu sou <span>Marcello Prado Muller</span></h2>
  <p><strong>Desenvolvedor Frontend | Backend | Python | Flask • Django • SQL</strong></p>

  <p>
    Minha jornada com tecnologia começou em 1996, quando ajudava meu pai a consertar computadores e tive meus primeiros contatos com programação. Desde cedo desenvolvi curiosidade por entender como as coisas funcionam e por resolver problemas através da tecnologia.
  </p>
  <p>
    Ao longo dessa trajetória, atuei em áreas como manutenção de computadores, telecomunicações e suporte em TI, além de me formar como Técnico em Manutenção e Suporte pelo Senac. Essas experiências fortaleceram minha base técnica e minha capacidade de analisar e solucionar problemas reais.
  </p>
  <p>
    Nos últimos anos, direcionei minha carreira para o desenvolvimento de software. Iniciei meus estudos em Front-end, trabalhando com HTML, CSS, JavaScript, React e Git através de formações na Alura. Posteriormente aprofundei meus conhecimentos em Python com a Hashtag Treinamentos e concluí, em 05/09/2025, o programa Entra21 (Blusoft + Sesc/Senac).
  </p>
  <p>
    Atualmente estou cursando Análise e Desenvolvimento de Sistemas pela Uniasselvi e desenvolvendo projetos utilizando Python, com frameworks como Flask e Django, além de trabalhar com bancos de dados SQL.
  </p>
  <p>
    Busco oportunidades para atuar como Desenvolvedor Web, contribuindo com soluções bem estruturadas, código limpo e projetos que realmente gerem valor para as pessoas.
  </p>
</section>

{% endblock %}