{% extends 'base.html' %} {% block title %} Sobre {% endblock %} {% block
content %}
<br>
  <section class="section-about ">
    <h2>Olá! Eu sou <span>Marcello Prado Muller</span></h2>
    <p>Minha jornada com tecnologia começou lá em 1996, quando ajudava meu pai a consertar computadores e descobri meus primeiros passos na programação. Desde então, passei por áreas como manutenção, telecomunicações e suporte em TI, sempre com a vontade de resolver problemas de verdade e entregar soluções úteis.</p>
    <p>Desde então, passei por áreas como manutenção, telecomunicações e suporte em TI, vim a me formar como técnico em manutenção e suporte pelo Senac, sempre com vontade de entregar soluções de verdade pra quem precisa.
      Gosto de transformar ideias em projetos reais e estou sempre estudando
      para evoluir.</p>
    <p>Nos últimos anos, decidi mergulhar de vez no mundo da programação. Estudei Front-end (HTML, CSS, JavaScript, React e Git), fiz formações na Alura e, mais recentemente, venho me dedicando ao Python com a Hashtag Treinamentos e ao programa Entra21 (Blusoft + Sesc/Senac).</p>
      <p>
        Hoje, já trabalho com frameworks como Flask e Django, além de bancos de dados SQL. Sigo aprendendo todos os dias, com o objetivo de transformar ideias em projetos reais, com código limpo, bem estruturado e útil para as pessoas.
      </p>
    </p>
  </section>
</main>
{% endblock %}
